body {
    margin: 0px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: rgb(63, 63, 63);
}



nav {
    color: #F1F1F1F1;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: 'Oswald', sans-serif;
}

nav img {
    height: 4vmin;
}



a {
    text-decoration: none;
    color: rgb(63, 63, 63);
}


.title {
    color: #ff0000;
    font-size: 4vmin;
}

.title a {
    color: #ff0000;
}



/* -------------------- ALBUM -------------------- */





.container{
    padding: 2% 2% 0;
    text-align: justify;
  }
  
  .container:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
  
  .container .item,
  .container .gap{
    display: inline-block;
    width: 49%;
  }
  
  .container .item{
    text-align: left;
    margin-bottom: 2%;
  }
  
  .container .item:before{
    content: '';
    display: inline-block;
  }
  
  @media all and (min-width: 420px){
    .container .item,
    .container .gap{
      width: 32%;
    }
  }
  
  @media all and (min-width: 640px){
    .container .item,
    .container .gap{
      width: 23.5%;
    }
  }



.container img {
  width: 100%;
  height: 100%;
}



.item img {
    width: 100%;
    height: 100%;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%); 
}

.item  img:hover {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
  }



/* -------------------- FOOTER -------------------- */

.footer {
    color: #ff0000;
    font-size: 8vmin;
    margin: auto;
    text-align: center;
    margin-bottom: 10vh;
}

/* -------------------- MENU -------------------- */

#menu-ctn {
  width: 100%;
  height: 80%;
  background-color: white;
  margin: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 1;
  align-items: center;  
  padding-top: 8vh;
}

#menu-ctn img {
  height: 4vmin;
}

#menu-ctn a {
  text-decoration: none;
  color:red;
  font-size: 3vmin;
}

.link-menu {
  text-align: center;
}


/* -------------------- COMMON -------------------- */


#style-red {
  background: #ff0000;
  width: 40%;
  height: 4vh;
  color: white;
  font-size: 4vmin;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
}

/* -------------------- DULL DAY -------------------- */


.back {
    position: fixed;
    top: 20vmin;
    left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}

.dull-day {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}


.dull-day .post-subtitle {
    font-size: 5vmin;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
}

.dull-day .post-title {
    font-size: 12vmin;
    font-weight: bolder;
    color: black;
    letter-spacing: 0.05vmin;
}


.main-container {
    margin: 10vh auto;
}

.post-image {
  width: 60vmin;
  margin-left: 5vmin;
}

.post-image img {
  width: 100%;
}

.post-row {
    display: flex;
    flex-direction: row;
}

.dull-day .video-ctn {
    width: 60vmin;
    height: 30vmin;
    margin-left: 15vmin;
    margin-top: 2vh;
}

iframe {
  width: 100%;
  height: 100%;
}


/* -------------------- BIO -------------------- */


.bio {
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
}

.bio .main-container {
  position: relative;
  margin: auto;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 20vw; 
  
}



.bio .row {
  position: relative;
  top: 8vh;
  left: 0;
}

.bio .style-red {
  font-size: 2vmin;
  background: #ff0000;
  width: 20%;
  color: white;
}

.bio .main-title {
  position: relative;
  font-size: 6vmin;
  color: black;
  z-index: 0;
}

.bio .main-pic {
  position: absolute;
  top: 5%;
  left: 25%;
  z-index: -1;
}

.bio .main-pic img {
  width: 30vw;
}

.bio .bio-legend {
  width: 30vw;
  color: black;
  font-size: 2vmin;
  font-weight: 300;
}

#red-text {
  color: red;
}

.bio .two-col {
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 10vh;
  font-size: 2vmin;
}

.bio .first-col {
  width: 45%;
}

.bio .second-col {
  width: 45%;
}

.bio #title-desc {
  color: black;
  font-size: 2vmin;
}



/* -------------------- DO NOT TOUCHE ME -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
color: red;
font-size: 2vmin;
}

.do-not-touch-me {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.do-not-touch-me .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.do-not-touch-me .post-title {
  font-size: 12vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}


.do-not-touch-me .main-container {
  margin: 10vh auto;
}


.do-not-touch-me .legends-ctn {
  color: black;
  width: 50%;
  margin-left: 50%;
  font-size: 2vmin;
}

.post-image {
  display: flex;
  flex-direction: column;
  width: 60vmin;
  margin-left: 5vmin;
}

.post-image img {
width: 100%;
}

.post-row {
  display: flex;
  flex-direction: row;
}

.dull-day .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 15vmin;
  margin-top: 2vh;
}

iframe {
width: 100%;
height: 100%;
}


/* -------------------- MAUVAIS BOY -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
color: red;
font-size: 2vmin;
}


.mauvais-boy {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.mauvais-boy .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.mauvais-boy .post-title {
  font-size: 12vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}



.mauvais-boy .main-container {
  margin: 10vh auto;
}

.mauvais-boy .post-image {
width: 25vmin;
margin-left: 5vmin;
}

.mauvais-boy .post-image img {
  width: 100%;
}

.post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.mauvais-boy .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 15vmin;
  margin-top: 2vh;
}

iframe {
width: 100%;
height: 100%;
}


/* -------------------- CHOOSE YOUR CHARACTER -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
color: red;
font-size: 2vmin;
}

.character {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.character .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
}

.character .post-title {
  font-size: 10vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}




.character .main-container {
  margin: 10vh auto;
}


.character .legends-ctn {
  color: black;
  width: 80%;
  margin-left: 20%;
  font-size: 2vmin;
}

.character .post-image {
  display: flex;
  flex-direction: column;
  width: 40vmin;
  margin-left: 5vmin;
}

.character .post-image img {
  width: 100%;
}

.character .post-row {
  display: flex;
  flex-direction: row;
}

.character .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 15vmin;
  margin-top: 2vh;
}


/* -------------------- MUSEE -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}


.musee {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.musee .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.musee .post-title {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}



.musee .main-container {
  margin: 10vh auto;
}

.musee .post-image {
  width: 30vmin;
  margin-left: 5vmin;
}

.musee .post-image img {
  width: 100%;
}

.musee .post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.musee .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 10vmin;
  margin-top: 5vh;
}


/* -------------------- MVGC -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}


.MVGC {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.MVGC .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.MVGC .post-title {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}



.MVGC .main-container {
  margin: 10vh auto;
}

.MVGC .post-image {
  width: 30vmin;
  margin-left: 5vmin;
}

.MVGC .post-image img {
  width: 100%;
}

.MVGC .post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.MVGC .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 10vmin;
  margin-top: 5vh;
}



