body {
    margin: 0px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: rgb(63, 63, 63);
}



nav {
    color: #F1F1F1F1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
    font-family: 'Oswald', sans-serif;
}

nav img {
    height: 4vmin;
}



a {
    text-decoration: none;
    color: rgb(63, 63, 63);
}

.logo {
  width: 25%;
}

.logo img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.title {
  display: flex;
  flex-direction: row;
  color: #ff0000;
  font-size: 4vmin;
}

.title a {
    color: #ff0000;
}


.item .legends {
  font-size: 1.5vw;
}




/* -------------------- ALBUM -------------------- */





.container{
    padding: 2% 2% 0;
    text-align: justify;
  }
  
  .container:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
  
  .container .item,
  .container .gap{
    display: inline-block;
    width: 49%;
  }
  
  .container .item{
    text-align: left;
    margin-bottom: 2%;
  }
  
  .container .item:before{
    content: '';
    display: inline-block;
  }
  
  @media all and (min-width: 420px){
    .container .item,
    .container .gap{
      width: 32%;
    }
  }
  
  @media all and (min-width: 640px){
    .container .item,
    .container .gap{
      width: 23.5%;
    }
  }





.item {
}

.item a {
  width: 100%;
  height: 100%;
}

.item .home-cover {
  height: 30vh;
}





.home-cover img {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
  height: 100%;
  object-fit: cover;
  max-width: 50%;
  margin: 0 auto;
  display: block;
  scale: initial;
}


.item  img:hover {
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
  }



/* -------------------- FOOTER -------------------- */

.footer {
    color: #ff0000;
    font-size: 8vmin;
    margin: auto;
    text-align: center;
    margin-bottom: 10vh;
}

/* -------------------- MENU -------------------- */

#menu-ctn {
  width: 100%;
  height: 80%;
  background-color: white;
  margin: 0;
  position: absolute;
  display: none;
  flex-direction: column;
  z-index: 1;
  align-items: center;  
  padding-top: 8vh;
}

#menu-ctn img {
  height: 4vmin;
}

#menu-ctn a {
  text-decoration: none;
  color:red;
  font-size: 3vmin;
}

.link-menu {
  text-align: center;
}


/* -------------------- COMMON -------------------- */


#style-red {
  background: #ff0000;
  width: 40%;
  height: 4vh;
  color: white;
  font-size: 4vmin;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
}

/* -------------------- DULL DAY -------------------- */


.back {
    position: fixed;
    top: 20vmin;
    left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}

.dull-day {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}


.dull-day .post-subtitle {
    font-size: 5vmin;
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 100;
}

.dull-day .post-title {
    font-size: 12vmin;
    font-weight: bolder;
    color: black;
    letter-spacing: 0.05vmin;
}


.main-container {
    margin: 10vh auto;
}

.post-image {
  width: 60vmin;
  margin-left: 5vmin;
}

.post-image img {
  width: 100%;
}

.post-row {
    display: flex;
    flex-direction: row;
}

.dull-day .video-ctn {
    width: 60vmin;
    height: 30vmin;
    margin-left: 15vmin;
    margin-top: 2vh;
}

iframe {
  width: 100%;
  height: 100%;
}


/* -------------------- BIO -------------------- */


.bio {
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
}

.bio .main-container {
  position: relative;
  margin: auto;
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding-left: 20vw; 
  
}



.bio .row {
  position: relative;
  top: 8vh;
  left: 0;
}

.bio .style-red {
  font-size: 2vmin;
  background: #ff0000;
  width: 20%;
  color: white;
}

#style-full-red {
  font-size: 2vmin;
  background: #ff0000;
  width: 60%;
  color: white;
  font-size: 4vmin;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
}

.bio .main-title {
  position: relative;
  font-size: 6vmin;
  color: black;
  z-index: 0;
}

.bio .main-pic {
  position: absolute;
  top: 5%;
  left: 25%;
  z-index: -1;
}

.bio .main-pic img {
  width: 30vw;
}

.bio .bio-legend {
  width: 30vw;
  color: black;
  font-size: 2vmin;
  font-weight: 300;
}

#red-text {
  color: red;
}

.bio .two-col {
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 10vh;
  font-size: 2vmin;
}

.bio .first-col {
  width: 45%;
}

.bio .second-col {
  width: 45%;
}

.bio #title-desc {
  color: black;
  font-size: 2vmin;
}



/* -------------------- DO NOT TOUCHE ME -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
color: red;
font-size: 2vmin;
}

.do-not-touch-me {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.do-not-touch-me .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.do-not-touch-me .post-title {
  font-size: 12vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}


.do-not-touch-me .main-container {
  margin: 10vh auto;
}


.do-not-touch-me .legends-ctn {
  color: black;
  width: 50%;
  margin-left: 50%;
  font-size: 2vmin;
}

.post-image {
  display: flex;
  flex-direction: column;
  width: 60vmin;
  margin-left: 5vmin;
}

.post-image img {
width: 100%;
}

.post-row {
  display: flex;
  flex-direction: row;
}

.dull-day .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 15vmin;
  margin-top: 2vh;
}

iframe {
width: 100%;
height: 100%;
}


/* -------------------- MAUVAIS BOY -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
color: red;
font-size: 2vmin;
}


.mauvais-boy {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.mauvais-boy .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.mauvais-boy .post-title {
  font-size: 12vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}



.mauvais-boy .main-container {
  margin: 10vh auto;
}

.mauvais-boy .post-image {
width: 25vmin;
margin-left: 5vmin;
}

.mauvais-boy .post-image img {
  width: 100%;
}

.post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.mauvais-boy .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 15vmin;
  margin-top: 2vh;
}

iframe {
width: 100%;
height: 100%;
}


/* -------------------- CHOOSE YOUR CHARACTER -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
color: red;
font-size: 2vmin;
}

.character {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.character .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;
}

.character .post-title {
  font-size: 10vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}




.character .main-container {
  margin: 10vh auto;
}


.character .legends-ctn {
  color: black;
  width: 80%;
  margin-left: 20%;
  font-size: 2vmin;
}

.character .post-image {
  display: flex;
  flex-direction: column;
  width: 40vmin;
  margin-left: 5vmin;
}

.character .post-image img {
  width: 100%;
}

.character .post-row {
  display: flex;
  flex-direction: row;
}

.character .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 15vmin;
  margin-top: 2vh;
}


/* -------------------- MUSEE -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}


.musee {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.musee .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.musee .post-title {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}



.musee .main-container {
  margin: 10vh auto;
}

.musee .post-image {
  width: 30vmin;
  margin-left: 5vmin;
}

.musee .post-image img {
  width: 100%;
}

.musee .post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.musee .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 10vmin;
  margin-top: 5vh;
}


/* -------------------- MVGC -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}


.MVGC {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.MVGC .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.MVGC .post-title {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}



.MVGC .main-container {
  margin: 10vh auto;
}

.MVGC .post-image {
  width: 30vmin;
  margin-left: 5vmin;
}

.MVGC .post-image img {
  width: 100%;
}

.MVGC .post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.MVGC .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 10vmin;
  margin-top: 5vh;
}

.MVGC .clothing-ctn {
  position: relative;
}

.MVGC .post-image {
  position: absolute;
}

#cloth-one {
  right: 0;
  top: 0;
  margin-bottom: 25vh;
}

#cloth-two {
  right: 40%;
  top: 10vh;
}

#cloth-three {
  right: -55%;
  top: 10vh;
}

#cloth-four {
  left: -60%;
  top: 10vh;
}

#cloth-five {
  left: -25%;
  top: 5vh;
}


/* -------------------- INSPIRING -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
  z-index: 2;
}

.back a {
  color: red;
  font-size: 2vmin;
}

.menu img {
  cursor: pointer;
}

.inspiring {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.inspiring .post-title {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
  text-align: center;
}



.inspiring .main-container {
  margin: 10vh auto;
}

.inspiring .post-image {
  width: 30vmin;
  margin-left: 5vmin;
}

.inspiring .post-image img {
  width: 100%;
}

.inspiring .post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.inspiring .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 10vmin;
  margin-top: 5vh;
}



/* CAROUSSEL */


.carousel {
  margin-top: 5vh;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.6s ease-in-out;
  width: 100%;
}

.carousel-active:checked + .carousel-item {
  opacity: 1;
  pointer-events: auto;
  position: static;
}

.carousel-item img {
  display: block;
  height: auto;
  width: 100%;
}

.carousel-controls {
  height: 100%;
  width: 100%;
}

.carousel-control {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 28px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  transition: background 0.1s ease-in-out;
  width: 50%;
  z-index: 2;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carousel-control.prev {
  float: left;
}

.carousel-control.next {
  float: right;
}

.carousel-caption {
  bottom: 15%;
  font-size: 120%;
  left: 20%;
  opacity: 0;
  right: 20%;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: opacity 0.1s ease-out;
  z-index: 2;
}

.carousel-active:checked + .carousel-item .carousel-caption {
  transition: opacity 0.6s ease-in;
  opacity: 1;
}

.carousel-indicators {
  bottom: 5%;
  left: 5%;
  list-style: none;
  margin: 0;
  padding: 0;
  right: 5%;
  text-align: center;
  z-index: 2;
}

.carousel-indicators li {
  display: inline-block;
}

.carousel-indicator {
  border-radius: 50%;
  cursor: pointer;
  display: block;
  font-size: 5vmin;
  line-height: 1;
  padding: 5px 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: background 0.1s ease-in-out;
}

.carousel-indicator:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* If you`re needing more than 3 banners, maybe you might be using another way to represent your info... ;-) */
#carousel-1:checked ~ .carousel-indicators .carousel-indicator[for="carousel-1"],
#carousel-2:checked ~ .carousel-indicators .carousel-indicator[for="carousel-2"],
#carousel-3:checked ~ .carousel-indicators .carousel-indicator[for="carousel-3"] {
  color: #007f7f;
}

@media (min-width: 10px) {
  .carousel-indicators {
    background: transparent;
  }
  .carousel-control {
    width: 5%;
  }
  .carousel-controls,
  .carousel-caption,
  .carousel-indicators {
    position: absolute;
  }
}


.grid-carousel {
  display: flex;
  flex-direction: row;
}


/* -------------------- SHOWROOM -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}


.showacces {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.showacces .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.showacces .post-title {
  font-size: 12vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}

.showacces .main-container {
  margin: 10vh auto;
}

.showacces .post-image {
  width: 25vmin;
  margin-left: 5vmin;
}

.showacces .post-image img {
  width: 100%;
}

.post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.showacces .main-image-ctn {
  width: 40vw;
  margin-left: 0vmin;
  margin-top: 2vh;
}

.showacces .main-image-ctn img {
  width: 100%;
}

.showacces .legends-ctn {
  color: black;
  width: 80%;
  margin-left: 20%;
  font-size: 2vmin;
}


#baniere-showroom {
  width: 25vw;
}

#logo-showroom {
  width: 25vw;
}

/* -------------------- WWF -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}


.WWF {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.WWF .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.WWF .post-title {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}



.WWF .main-container {
  margin: 10vh auto;
}

.WWF .post-image {
  width: 30vmin;
  margin-left: 5vmin;
}

.WWF .post-image img {
  width: 100%;
}

.WWF .post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.WWF .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 10vmin;
  margin-top: 5vh;
}

.WWF .animaux-ctn {
  position: relative;
}

.WWF .post-image {
  position: absolute;
}

#moutonimg {
  right: 15%;
  top: 0;
  margin-bottom: 25vh;
  width: 25vw;
}

#serpentimg {
  left: 70%;
  top: 15vh;
  margin-bottom: 0;
  width: 25vw;
}

#leopardimg {
  left: -50%;
  top: 10vh;
  width: 25vw;
}

.WWF .legends-ctn {
  position: absolute;
  right: 10%;
  color: black;
  width: 80%;
  margin-left: 20%;
  font-size: 2vmin;
}


/* -------------------- MEET ME -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}


.meetme {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.meetme .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.meetme .post-title {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}



.meetme .main-container {
  margin: 10vh auto;
}

.meetme .post-image {
  width: 30vmin;
  margin-left: 5vmin;
}

.meetme .post-image img {
  width: 100%;
}

.meetme .post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.meetme .video-ctn {
  width: 80vmin;
  height: 40vmin;
  margin-left: 10vmin;
  margin-top: 5vh;
}


.meetme .legends-ctn {
  position: absolute;
  left: 40%;
  bottom: 0%;
  color: black;
  width: 80%;
  font-size: 2vmin;
}


/* -------------------- Lafayette -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}


.Laf {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}


.Laf .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.Laf .post-title {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}

.Laf .main-container {
  margin: 5vh auto;
}

.Laf .post-image {
  width: 30vmin;
  margin-left: 5vmin;
}

.Laf .post-image img {
  width: 100%;
}

.Laf .post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.Laf .video-ctn {
  width: 60vmin;
  height: 30vmin;
  margin-left: 10vmin;
  margin-top: 5vh;
}

.Laf .laf-pics-ctn {
  position: relative;
}

.Laf .post-image {
  position: absolute;
}

.Laf .legends-ctn {
  position: absolute;
  right: 10%;
  color: black;
  width: 80%;
  margin-left: 20%;
  font-size: 2vmin;
  bottom: 0;
}

#laf1 {
  width: 20vw;
  right: 30%;
  top: 0;
  margin-bottom: 25vh;
}

#laf2 {
  width: 20vw;
  left: 70%;
  top: 15vh;
  margin-bottom: 0;
}

#laf3 {
  width: 20vw;
  left: -80%;
  top: 10vh;
}



/* -------------------- FESTIVAL -------------------- */


.back {
  position: fixed;
  top: 20vmin;
  left: 2vw;
}

.back a {
  color: red;
  font-size: 2vmin;
}


.festival {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-left: 20vw;
}


.festival .post-subtitle {
  font-size: 5vmin;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 100;

}

.festival .post-title {
  font-size: 8vmin;
  font-weight: bolder;
  color: black;
  letter-spacing: 0.05vmin;
}



.festival .main-container {
  margin: 10vh auto;
}

.festival .post-image {
  width: 30vmin;
  margin-left: 5vmin;
}

.festival .post-image img {
  width: 100%;
}

.festival .post-row {
  margin-right: 10vmin;
  display: flex;
  flex-direction: row;
}

.festival .img-festival-ctn {
  width: 50%;
  margin-top: 10vh;


}

.festival .img-festival-ctn img {
  width: 100%;  

}

.festival .legends {
  position: absolute;
  right: 10%;
  color: black;
  width: 80%;
  margin-left: 20%;
  font-size: 2vmin;
  bottom: 0;
}

